@model DataViewModel

<div class="sh-pagetitle-left">
    <div class="sh-pagetitle-icon"><i class="icon ion-ios-book mg-t-3"></i></div>
    <div class="sh-pagetitle-title">
        <span>Администратор журнала</span>
        <h2>Журнал</h2>
    </div><!-- sh-pagetitle-left-title -->
</div><!-- sh-pagetitle-left -->

<div id="modDialog" class="modal fade p-0"></div>
<div class="card bd-primary mg-t-20">
    <div class="row" style="    margin: 15px 0; padding-top:15px;">
        <div class="col-md-3" style="min-height:500px; ">
            <div class="card-header bg-primary tx-white">
                <div class="row align-baseline">
                    <div class="col-md-9 pt-2">Список выпусков</div>
                    <div class="col-md-3 text-right">
                        <a href="#" class="btn btn-outline-secondary btn-icon mg-r-5" data-edit-year-click>
                            <div>
                                <i class="fa fa-plus mg-r-1"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            @foreach (var item in Model.DataYearList)
            {
                <fieldset class="border p-2 mt-2 text-right">
                    <legend style=" font-size:15px; width:120px">
                        @item.Year
                        <a href="#" class="" data-idyear="@item.Id" data-edit-year-click>

                            <i class="fa fa-edit p-2"></i>

                        </a>
                        <a href="#" class=" mg-b-10" data-idyear="@item.Id" data-remove-year-click>

                            <i class="fa fa-remove text-danger p-2"></i>

                        </a>
                    </legend>
                    <div class="float-left">
                        @foreach (var edition in item.DataEdition.Where(x => x.IdYear == item.Id))
                        {
                            <a href="#" class="btn btn-outline-primary btn-icon mg-r-5" data-select-edition data-idedition="@edition.Id">
                                <div>
                                    <span>@edition.Edition</span>
                                </div>
                            </a>
                        }
                        <a href="#" class="btn btn-primary btn-icon mg-r-5" data-add-edition data-idyear="@item.Id">
                            <div>
                                <i class="fa fa-plus mg-r-1"></i>
                            </div>
                        </a>
                    </div>
                </fieldset>
            }
        </div>
        <div class="col-md-9">
            <div id="articles">

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="idedition" value="@ViewBag.idedition" />
<script>
    $(document).ready(function () {
        if ($("#idedition").val() != "") {
            $.ajax({
            method: "POST",
             url: "@Url.Action("Edition", "Journal")",
             data: { idedition: $("#idedition").val() },
                         success: function (content) {
                $('#articles').html(content);

            }
        });
        }
    });
    $("[data-edit-year-click]").click(function () {
         $.ajax({
            method: "POST",
             url: "@Url.Action("PartialEditYear", "Journal")",
             data: { Id: $(this).data('idyear') },
                         success: function (content) {
                $('#modDialog').html(content);
                $('#modDialog').modal('show');
            }
        });
    })
    $("[data-remove-year-click]").click(function () {
         $.ajax({
            method: "POST",
             url: "@Url.Action("PartialRemoveYear", "Journal")",
             data: { Id: $(this).data('idyear') },
                         success: function (content) {
                $('#modDialog').html(content);
                $('#modDialog').modal('show');
            }
        });
    })
    $("[data-add-edition]").click(function () {
         $.ajax({
            method: "POST",
             url: "@Url.Action("PartialEditEdition", "Journal")",
             data: { IdYear: $(this).data('idyear') },
                         success: function (content) {
                $('#modDialog').html(content);
                $('#modDialog').modal('show');
            }
        });
    })
    $("[data-select-edition]").click(function () {
         $.ajax({
            method: "POST",
             url: "@Url.Action("Edition", "Journal")",
             data: { idedition: $(this).data('idedition') },
                         success: function (content) {
                $('#articles').html(content);

            }
        });
    })
</script>
